p,
li
{
    color: green;
}
html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif; 
}

h1{
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px whitesmoke;

}

p,
 li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;

}
html {
    background-color: skyblue;
    width: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
}